:root {
    --primary-white-color: #fff;
    --primary-black-color: #000;
    --primary-red-color: #e02121;
    --primary-background-color: #E5E5E5;
    --primary-gray-color: #CCC;
    --secondary-black-color: #131123;
    --sidebar-background-color: #F5F7F9;
    --loginpage-background-color: #306EA9;
    --orderdate-color: #5E6E7D;
    --orderprice-color: #030229;
    --orderblock-color: #F5F5F5;
}
